name = "<your-worker-name>"
type = "javascript"
account_id = "<your-account-id>"
workers_dev = false
routes = ["<route-1>", "<route-2>", "<etc>"]
zone_id = "<your-zone-id>"

[build]
command = "npm run build"
upload = { format = "service-worker" }

[site]
bucket = "./.cloudflare/assets"
entry-point = "./.cloudflare/worker"
