name = "<your-site-name>"
type = "javascript"
account_id = "<your-account-id>"
workers_dev = false
route = ""
zone_id = ""

[build]
command = "npm run build"
upload = { format = "service-worker" }

[site]
bucket = "./.cloudflare/assets"
entry-point = "./.cloudflare/worker"
