<footer style="margin: 0.5rem; text-align: center">
  <a
    href="https://github.com/mtoohey31"
    target="_blank"
    rel="noopener noreferrer"
    >{{ partial "icons/icon" (dict "vendor" "mdi" "name" "github") }}<code>
      mtoohey31</code
    ></a
  ><code> </code
  ><a
    href="https://gitlab.com/mtoohey"
    target="_blank"
    rel="noopener noreferrer"
    >{{ partial "icons/icon" (dict "vendor" "mdi" "name" "gitlab") }}<code>
      mtoohey</code
    ></a
  ><code> </code
  >{{ partial "icons/icon" (dict "vendor" "mdi" "name" "email") }}<code>
    &#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#116;&#111;&#111;&#104;&#101;&#121;&#046;&#099;&#111;&#109;</code
  >
</footer>
