<footer style="margin: 0.5rem; text-align: center">
  <a
    href="https://github.com/mtoohey31"
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link footer-entry"
    >{{ partial "icon" (dict "context" . "name" "fab github") }}<code
      >mtoohey31</code
    ></a
  ><a
    href="https://orcid.org/0009-0006-2253-7193"
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link footer-entry"
    >{{ partial "icon" (dict "context" . "name" "fab orcid") }}<code
      >ORCID</code
    ></a
  ><span class="footer-entry"
    >{{ partial "icon" (dict "context" . "name" "fas envelope") }}<code
      >&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#116;&#111;&#111;&#104;&#101;&#121;&#046;&#099;&#111;&#109;</code
    ></span
  >
  {{ partial "icon-data" . }}
</footer>
