<header
  style="
    display: flex;
    justify-content: space-between;
    font-family: JetBrains Mono, monospace;
  "
>
  <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}.com</a>
  <div></div>
  <div>
    <span>[</span>
    {{- range $i, $section := site.Sections -}}
      {{- if ne $i 0 -}}
        <span>, </span>
      {{- end -}}
      <a href="{{ .RelPermalink }}">{{ $section.LinkTitle }}</a>
    {{- end -}}
    <span>]</span>
  </div>
  <div></div>
  <a style="opacity: 0; user-select: none">mtoohey.com</a>
</header>
