@import "../node_modules/prism-themes/themes/prism-nord.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full m-0 bg-nord5 dark:bg-nord0 text-lg text-nord0 dark:text-nord6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium pt-4 pb-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl text-nord11;
}

h3 {
  @apply text-2xl text-nord12;
}

h4 {
  @apply text-xl text-nord13;
}

h5 {
  @apply text-lg text-nord14;
}

h6 {
  @apply text-base text-nord15;
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
  @apply text-nord10 dark:text-nord8;
}

a:hover {
  @apply underline;
}

pre {
  @apply font-mono;
}

img {
  @apply rounded-lg;
}

blockquote {
  @apply ml-0 border-l-4 opacity-50 p-2 pl-4 mb-2;
}

hr {
  @apply my-2 border-t-2;
}

ol,
ul {
  padding-inline-start: 2rem;
  @apply list-disc;
}

::selection {
  @apply bg-nord10 dark:bg-nord8;
}

td {
  border-width: 2px;
  padding: 0.5rem;
}
